In [10]:
import pandas as pd
import numpy as np

In [16]:
# 첫번째 컬럼 삭제
df.drop(df.columns[0], axis='columns', inplace=True)
df.head()

,행정구역,지점명,일시,평균기온(°C),최고기온(°C),최저기온(°C),월합강수량(00~24h만)(mm),합계 일사량(MJ/m2)
0,강원도,속초,2000-01,-0.4,9.9,-10.9,90.2,152.990
1,강원도,속초,2000-02,-0.1,9.2,-8.6,8.4,329.070
2,강원도,속초,2000-03,6.9,18.5,-4.2,8.7,448.650
3,강원도,속초,2000-04,11.2,24.1,2.4,23.4,486.355
4,강원도,속초,2000-05,14.3,30.5,6.2,71.0,520.280

In [19]:
df_new["합계 일사량(MJ/m2)"].replace(0.0, np.nan, inplace=True)   # 일사량 0.0을 전부 NaN으로 변경

In [21]:
# 일시와 행정구역에 따른 합계 일사량 중앙값
sunshine = pd.pivot_table(df_new, index="일시", columns="행정구역", values="합계 일사량(MJ/m2)",aggfunc="median")

In [23]:
sunshine

행정구역,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,세종특별자치시,울산광역시,인천광역시,전라남도,전라북도,제주도,충청남도,충청북도
일시,,,,,,,,,,,,,,,,,
2000-01,152.990,202.28,173.53,167.555,176.49,157.46,158.92,262.77,130.93,233.465,173.53,148.780,154.375,135.920,109.025,174.910,233.465
2000-02,329.070,317.51,360.91,398.050,366.47,376.13,385.24,390.36,289.38,352.855,360.91,355.600,362.270,223.170,315.045,335.030,352.855
2000-03,448.650,455.28,519.21,523.000,481.75,518.29,504.50,495.90,389.50,486.280,519.21,471.030,486.315,458.470,477.255,481.820,486.280
2000-04,486.355,530.95,542.48,540.765,537.21,523.90,554.68,539.21,440.90,525.325,542.48,515.730,581.050,525.870,580.600,546.080,525.325
2000-05,520.280,562.77,586.32,586.195,540.49,582.23,576.75,607.84,443.69,555.795,586.32,523.820,592.870,542.320,615.655,552.850,555.795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08,449.570,426.72,481.07,435.960,466.53,453.30,421.52,500.44,428.88,445.145,481.07,483.250,523.990,496.760,482.075,454.950,445.145
2021-09,433.790,428.47,366.93,379.360,389.17,402.76,401.14,367.94,474.13,426.565,366.93,475.310,380.610,415.265,374.920,440.290,426.565
2021-10,342.760,263.31,429.24,370.415,439.70,425.96,383.07,453.21,353.62,407.200,429.24,374.260,433.200,423.275,409.190,388.865,407.200
2021-11,271.290,261.76,323.96,304.835,310.83,320.40,263.73,359.73,271.64,280.140,323.96,245.560,302.590,280.285,279.035,266.970,280.140
2021-12,252.380,248.82,312.84,288.440,288.88,308.90,241.28,339.36,257.25,249.960,312.84,229.605,272.300,250.050,189.370,230.850,249.960

In [25]:
# df["합계 일사량(MJ/m2)"].fillna()
for i in range(len(df2)) : 
    dt = df2.loc[i,"일시"]
    dstr = df2.loc[i,"행정구역"]
#     print(dt)
#     print(dstr)
    if np.isnan(df2.loc[i,"합계 일사량(MJ/m2)"]) :  # 일사량이 NaN일 때
        if df2.loc[i,"행정구역"] == "세종특별자치시" :       # 행정구역이 세종시라면
            df2.loc[i,"합계 일사량(MJ/m2)"] = sunshine["충청북도"][dt]     # 동일 일시의 충청북도 중앙값을 채움
        elif df2.loc[i,"행정구역"] == "울산광역시" :        # 행정구역이 울산광역시라면
            df2.loc[i,"합계 일사량(MJ/m2)"] = sunshine["경상남도"][dt]     # 동일 일시의 경상남도 중앙값을 채움
        else : 
            df2.loc[i,"합계 일사량(MJ/m2)"] = sunshine[dstr][dt]   # 동일 일시, 동일 행정 구역의 중앙값을 채움

# pd.pivot_table(df2, index="일시", columns="행정구역", values="합계 일사량(MJ/m2)",aggfunc="median")

In [29]:
avr_tem = pd.pivot_table(df_new, index="일시", columns="행정구역", values="평균기온(°C)",aggfunc="median")

In [30]:
high_tem = pd.pivot_table(df_new, index="일시", columns="행정구역", values="최고기온(°C)",aggfunc="median")

In [33]:
def fill_tem(temperature, dataframe, pivot) : 
    for i in range(len(dataframe)) : 
        dt = dataframe.loc[i,"일시"]
        dstr = dataframe.loc[i,"행정구역"]

        if np.isnan(dataframe.loc[i,temperature]) :  # 기온 관련 컬럼값이 NaN일 때 
            dataframe.loc[i,temperature] = pivot[dstr][dt]   # 동일 일시, 동일 행정 구역의 중앙값을 채움
    
    return dataframe

In [36]:
df2['평균기온(°C)'] = df2['평균기온(°C)'].fillna(value=avr_tem["충청북도"]["2019-05"])

In [42]:
chch_copy = df2[df2['행정구역']=='충청북도']
chch_copy

,행정구역,지점명,일시,평균기온(°C),최고기온(°C),최저기온(°C),월합강수량(00~24h만)(mm),합계 일사량(MJ/m2)
4155,충청북도,충주,2000-01,-2.9,11.2,-14.4,47.5,233.465
4156,충청북도,충주,2000-02,-3.1,8.4,-14.7,3.3,352.855
4157,충청북도,충주,2000-03,4.6,20.7,-8.9,14.5,486.280
4158,충청북도,충주,2000-04,10.1,23.2,-2.7,42.5,525.325
4159,충청북도,충주,2000-05,16.3,32.4,3.6,54.0,555.795
...,...,...,...,...,...,...,...,...
13923,충청북도,보은,2021-08,23.8,33.9,17.2,275.8,445.145
13924,충청북도,보은,2021-09,20.2,29.0,12.6,162.2,426.565
13925,충청북도,보은,2021-10,13.1,29.5,-1.7,33.8,407.200
13926,충청북도,보은,2021-11,6.3,19.9,-5.8,44.9,280.140
13927,충청북도,보은,2021-12,-0.1,12.8,-14.7,6.4,249.960

In [44]:
chch_median.insert(0,column="행정구역", value="세종특별자치시")
chch_median.insert(1,column="지점명", value="세종")
# chch_median

In [47]:
chch_median = chch_median[['행정구역', '지점명', '일시', '평균기온(°C)', '최고기온(°C)', '최저기온(°C)','월합강수량(00~24h만)(mm)', '합계 일사량(MJ/m2)']]
# chch_median

In [48]:
idx_chch = chch_median[chch_median["일시"]=="2019-05"].index[0]
# idx_chch

In [49]:
chch_bef_201905 = chch_median.iloc[:idx_chch,:]
# chch_bef_201905

In [51]:
new_df = pd.concat([df2.iloc[:14984],chch_bef_201905,df2.iloc[14984:]])
# new_df

In [52]:
new_df[new_df["행정구역"]=="세종특별자치시"]

,행정구역,지점명,일시,평균기온(°C),최고기온(°C),최저기온(°C),월합강수량(00~24h만)(mm),합계 일사량(MJ/m2)
0,세종특별자치시,세종,2000-01,-2.8,9.9,-14.4,38.7,233.465
1,세종특별자치시,세종,2000-02,-2.2,8.4,-14.2,3.7,352.855
2,세종특별자치시,세종,2000-03,4.9,20.7,-8.9,15.5,486.280
3,세종특별자치시,세종,2000-04,10.8,23.2,-2.8,43.4,525.325
4,세종특별자치시,세종,2000-05,16.6,32.4,3.8,44.5,555.795
...,...,...,...,...,...,...,...,...
15243,세종특별자치시,세종,2021-08,25.1,34.5,18.6,232.1,445.145
15244,세종특별자치시,세종,2021-09,21.8,29.4,14.4,184.6,426.565
15245,세종특별자치시,세종,2021-10,15.0,29.8,0.7,36.4,407.200
15246,세종특별자치시,세종,2021-11,8.2,20.9,-2.4,60.9,280.140
15247,세종특별자치시,세종,2021-12,1.2,12.8,-14.0,8.0,249.960

In [53]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23310 entries, 0 to 23077
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   행정구역                23310 non-null  object
 1   지점명                 23310 non-null  object
 2   일시                  23310 non-null  object
 3   평균기온(°C)            23310 non-null  float64
 4   최고기온(°C)            23310 non-null  float64
 5   최저기온(°C)            23310 non-null  float64
 6   월합강수량(00~24h만)(mm)  23310 non-null  float64
 7   합계 일사량(MJ/m2)       23310 non-null  float64
dtypes: float64(5), object(3)
memory usage: 1.6+ MB

In [55]:
new_df.fillna(0.0,inplace=True)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23310 entries, 0 to 23077
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   행정구역                23310 non-null  object
 1   지점명                 23310 non-null  object
 2   일시                  23310 non-null  object
 3   평균기온(°C)            23310 non-null  float64
 4   최고기온(°C)            23310 non-null  float64
 5   최저기온(°C)            23310 non-null  float64
 6   월합강수량(00~24h만)(mm)  23310 non-null  float64
 7   합계 일사량(MJ/m2)       23310 non-null  float64
dtypes: float64(5), object(3)
memory usage: 1.6+ MB

In [56]:
new_df.to_csv("data/최종_최종__월별기상관측.csv",encoding="cp949")

In [58]:
yr_list= np.arange(2000, 2022)
detail = ["-01","-02","-03","-04","-05","-06","-07","-08","-09","-10","-11","-12"]
spring= []
summer= []
fall= []
winter= []

for yr in yr_list:
    # 3월부터 5월까지
    for i in range(2,5):
        val= str(yr) + detail[i]
        spring.append(val)
    # 5월부터 9월까지
    for i in range(4,9):
        val= str(yr) + detail[i]
        summer.append(val)
    # 8월부터 11월까지
    for i in range(7,11):
        val= str(yr) + detail[i]
        fall.append(val)
    # 8월부터 다음 1월까지
    # range(11,12) + range(0,3)
    for i in range(10,12):
        val= str(yr) + detail[i]
        winter.append(val)
    for i in range(0,1):
        val= str(yr+1) + detail[i]
        winter.append(val)


# season 배열 생성
season = ["spring", "summer", "fall", "winter"]
season_list= [spring, summer, fall, winter]

winter

['2000-11',
 '2000-12',
 '2001-01',
 '2001-11',
 '2001-12',
 '2002-01',
 '2002-11',
 '2002-12',
 '2003-01',
 '2003-11',
 '2003-12',
 '2004-01',
 '2004-11',
 '2004-12',
 '2005-01',
 '2005-11',
 '2005-12',
 '2006-01',
 '2006-11',
 '2006-12',
 '2007-01',
 '2007-11',
 '2007-12',
 '2008-01',
 '2008-11',
 '2008-12',
 '2009-01',
 '2009-11',
 '2009-12',
 '2010-01',
 '2010-11',
 '2010-12',
 '2011-01',
 '2011-11',
 '2011-12',
 '2012-01',
 '2012-11',
 '2012-12',
 '2013-01',
 '2013-11',
 '2013-12',
 '2014-01',
 '2014-11',
 '2014-12',
 '2015-01',
 '2015-11',
 '2015-12',
 '2016-01',
 '2016-11',
 '2016-12',
 '2017-01',
 '2017-11',
 '2017-12',
 '2018-01',
 '2018-11',
 '2018-12',
 '2019-01',
 '2019-11',
 '2019-12',
 '2020-01',
 '2020-11',
 '2020-12',
 '2021-01',
 '2021-11',
 '2021-12',
 '2022-01']

In [59]:
# city 배열 생성
city = ["서울특별시", "부산광역시", "대구광역시", "인천광역시", "광주광역시", "대전광역시", "울산광역시", "세종특별자치시", "경기도", "강원도", "충청북도", "충청남도", "전라북도", "전라남도", "경상북도", "경상남도", "제주도"]
city_list= ["seoul", "busan", "daegu", "incheon", "gwangju", "daejeon", "ulsan", "sejong", "gyeonggi", "gangwon", "chungbuk", "chungnam", "jeonbuk", "jeonnam", "gyeongbuk", "gyeongnam", "jeju"]

# season 배열 생성
season = ["spring", "summer", "fall", "winter"]


# 지역별로 계절을 나누어 데이터 프레임 생성
for i in range(len(city)):
    for j in range(len(season)):
        globals()[city_list[i] + "_" + season[j]] = new_df[(new_df["행정구역"]==city[i]) & (new_df["일시"].isin(season_list[j]))]
        globals()[city_list[i] + "_" + season[j]].reset_index(drop=True, inplace=True)
        globals()[city_list[i] + "_" + season[j]] = globals()[city_list[i] + "_" + season[j]].drop(["행정구역"], axis=1)
        globals()[city_list[i] + "_" + season[j]] = globals()[city_list[i] + "_" + season[j]].rename(columns={"지점명": "지역명"})
        # 지역명 컬럼 삭제
        globals()[city_list[i] + "_" + season[j]] = globals()[city_list[i] + "_" + season[j]].drop(["지역명"], axis=1)
        # 일시 데이터를 년도로 변경
        globals()[city_list[i] + "_" + season[j]]["일시"] = globals()[city_list[i] + "_" + season[j]]["일시"].str[:4]
        # csv 파일로 저장
        globals()[city_list[i] + "_" + season[j]].to_csv("data/weather/" + city_list[i] + "_" + season[j] + ".csv", encoding="utf-8", index=False)

기후와 생산량 상관관계 분석