In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("data/최종_최종__월별기상관측.csv",encoding="cp949")

In [6]:
df.drop(df.columns[:1],axis=1,inplace=True)   # 0번째 컬럼 제거
df.head()

,행정구역,지점명,일시,평균기온(°C),최고기온(°C),최저기온(°C),월합강수량(00~24h만)(mm),합계 일사량(MJ/m2)
0,강원도,속초,2000-01,-0.4,9.9,-10.9,90.2,152.990
1,강원도,속초,2000-02,-0.1,9.2,-8.6,8.4,329.070
2,강원도,속초,2000-03,6.9,18.5,-4.2,8.7,448.650
3,강원도,속초,2000-04,11.2,24.1,2.4,23.4,486.355
4,강원도,속초,2000-05,14.3,30.5,6.2,71.0,520.280

In [7]:
df2=df

In [8]:
df2['행정구역'].unique()

array(['강원도', '경기도', '인천광역시', '서울특별시', '경상북도', '충청북도', '충청남도', '대전광역시',
       '전라남도', '대구광역시', '전라북도', '울산광역시', '경상남도', '광주광역시', '부산광역시', '제주도',
       '세종특별자치시'], dtype=object)

In [18]:
# location=['강원도', '경기도', '인천광역시', '서울특별시', '경상북도', '충청북도', '충청남도', '대전광역시',
#        '전라남도', '대구광역시', '전라북도', '울산광역시', '경상남도', '광주광역시', '부산광역시', '제주도',
#        '세종특별자치시']

IndentationError: unexpected indent (246027146.py, line 7)

In [8]:
yr_list= np.arange(2000, 2022)
detail = ["-01","-02","-03","-04","-05","-06","-07","-08","-09","-10","-11","-12"]
spring= []
summer= []
fall= []
winter= []
k=[8,9,10,11,12]
for yr in yr_list:
    # 3월부터 5월까지
    for i in range(2,5):
        val= str(yr) + detail[i]
        spring.append(val)
    # 5월부터 8월까지
    for i in range(4,7):
        val= str(yr) + detail[i]
        summer.append(val)
    # 8월부터 11월까지
    for i in range(8,10):
        val= str(yr) + detail[i]
        fall.append(val)
    # 8월부터 12월까지
    for i in k:
        val= str(yr) + detail[i]
        winter.append(val)
print(spring)

# season 배열 생성
season = ["spring", "summer", "fall", "winter"]
season_list= [spring, summer, fall, winter]

spring

IndexError: list index out of range

In [48]:
df = pd.read_csv("data/최종_최종__월별기상관측.csv",encoding="cp949")
df.drop(df.columns[:1],axis=1,inplace=True)  # 0번째 컬럼 제거
df.head()

,행정구역,지점명,일시,평균기온(°C),최고기온(°C),최저기온(°C),월합강수량(00~24h만)(mm),합계 일사량(MJ/m2)
0,강원도,속초,2000-01,-0.4,9.9,-10.9,90.2,152.990
1,강원도,속초,2000-02,-0.1,9.2,-8.6,8.4,329.070
2,강원도,속초,2000-03,6.9,18.5,-4.2,8.7,448.650
3,강원도,속초,2000-04,11.2,24.1,2.4,23.4,486.355
4,강원도,속초,2000-05,14.3,30.5,6.2,71.0,520.280

In [47]:
# # location_name=[]
# #  year=[]
# #  spring="03|04|05"
# #  summer="05|06|07|08"
# # fall="08|09|10|11|12"
# # winter="08|09|10|11|12|01"

In [50]:
df=df[df['행정구역']=='강원도']
df=pd.pivot_table(df, index=["일시", '행정구역'],aggfunc="mean")
df=df.query('일시.str.contains("03|04|05")', engine='python')
df=df.query('일시.str.contains("2000")', engine='python')

In [51]:
df

,,월합강수량(00~24h만)(mm),최고기온(°C),최저기온(°C),평균기온(°C),합계 일사량(MJ/m2)
일시,행정구역,,,,,
2000-03,강원도,13.790909,19.000000,-7.936364,4.790909,433.992727
2000-04,강원도,37.354545,23.518182,-1.872727,10.154545,481.298636
2000-05,강원도,75.181818,31.500000,4.181818,15.618182,518.235455

In [59]:
def spring(location):
      df=df[df['행정구역']==location]
      df=pd.pivot_table(df, index=["일시", '행정구역'],aggfunc="mean")
      df=df.query('일시.str.contains("03|04|05")', engine='python')
      df=df.query('일시.str.contains("2000")', engine='python')

In [60]:
spring(강원도)

NameError: name '강원도' is not defined