In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("data/최종_최종__월별기상관측.csv",encoding="cp949")
df

,Unnamed: 0,행정구역,지점명,일시,평균기온(°C),최고기온(°C),최저기온(°C),월합강수량(00~24h만)(mm),합계 일사량(MJ/m2)
0,0,강원도,속초,2000-01,-0.4,9.9,-10.9,90.2,152.990
1,1,강원도,속초,2000-02,-0.1,9.2,-8.6,8.4,329.070
2,2,강원도,속초,2000-03,6.9,18.5,-4.2,8.7,448.650
3,3,강원도,속초,2000-04,11.2,24.1,2.4,23.4,486.355
4,4,강원도,속초,2000-05,14.3,30.5,6.2,71.0,520.280
...,...,...,...,...,...,...,...,...,...
23073,22841,경상남도,남해,2021-08,26.1,35.5,20.7,473.2,481.070
23074,22842,경상남도,남해,2021-09,22.2,30.1,16.3,164.6,366.930
23075,22843,경상남도,남해,2021-10,17.2,28.9,4.7,43.6,429.240
23076,22844,경상남도,남해,2021-11,10.7,21.7,1.4,53.5,323.960
23077,22845,경상남도,남해,2021-12,4.9,14.9,-8.0,2.4,312.840

In [14]:
df.drop(df.columns[:1],axis=1,inplace=True)   # 0,1번째 컬럼 drop
df.head()

,행정구역,지점명,일시,평균기온(°C),최고기온(°C),최저기온(°C),월합강수량(00~24h만)(mm),합계 일사량(MJ/m2)
0,강원도,속초,2000-01,-0.4,9.9,-10.9,90.2,152.990
1,강원도,속초,2000-02,-0.1,9.2,-8.6,8.4,329.070
2,강원도,속초,2000-03,6.9,18.5,-4.2,8.7,448.650
3,강원도,속초,2000-04,11.2,24.1,2.4,23.4,486.355
4,강원도,속초,2000-05,14.3,30.5,6.2,71.0,520.280

In [8]:
gangwon_spring=pd.read_csv("data/gangwon_spring.csv")
gangwon_spring

,2000,2000.1,2000.2,2001,2001.1,2001.2,2002,2002.1,2002.2,2003,...,2018.2,2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2
0,일반봄배추:면적 (ha),10a당 생산량 (kg),생산량 (톤),일반봄배추:면적 (ha),10a당 생산량 (kg),생산량 (톤),일반봄배추:면적 (ha),10a당 생산량 (kg),생산량 (톤),일반봄배추:면적 (ha),...,생산량 (톤),일반봄배추:면적 (ha),10a당 생산량 (kg),생산량 (톤),일반봄배추:면적 (ha),10a당 생산량 (kg),생산량 (톤),일반봄배추:면적 (ha),10a당 생산량 (kg),생산량 (톤)
1,2147,4081,87619,1983,4206,83405,1329,4282,56908,1735,...,31063,689,5002,34473,840,4958,41637,953,5167,49258

In [ ]:
#강원도 봄재배, 봄 기준: 3월~5월

In [16]:
gangwon1=df[df['행정구역']=='강원도']
gangwon1.head()

,행정구역,지점명,일시,평균기온(°C),최고기온(°C),최저기온(°C),월합강수량(00~24h만)(mm),합계 일사량(MJ/m2)
0,강원도,속초,2000-01,-0.4,9.9,-10.9,90.2,152.990
1,강원도,속초,2000-02,-0.1,9.2,-8.6,8.4,329.070
2,강원도,속초,2000-03,6.9,18.5,-4.2,8.7,448.650
3,강원도,속초,2000-04,11.2,24.1,2.4,23.4,486.355
4,강원도,속초,2000-05,14.3,30.5,6.2,71.0,520.280

In [18]:
gangwon2 = pd.pivot_table(gangwon1, index=["일시", '행정구역'],aggfunc="median")
gangwon2

              월합강수량(00~24h만)(mm)  최고기온(°C)  최저기온(°C)  평균기온(°C)  합계 일사량(MJ/m2)
일시      행정구역
2000-01 강원도                48.10      8.50    -16.00     -2.90        152.990
2000-02 강원도                 5.70      7.70    -15.80     -3.30        329.070
2000-03 강원도                14.10     19.30     -8.60      4.40        448.650
2000-04 강원도                37.10     23.70     -3.10     10.40        486.355
2000-05 강원도                75.20     31.60      3.90     15.90        520.280
...                          ...       ...       ...       ...            ...
2021-08 강원도               206.70     34.10     16.65     23.70        449.570
2021-09 강원도               132.80     28.85     13.20     20.35        433.790
2021-10 강원도                65.80     28.30     -0.90     13.30        342.760
2021-11 강원도                40.80     20.55     -5.80      6.05        271.290
2021-12 강원도                 5.15     11.60    -16.10     -0.95        252.380

[264 rows x 5 columns]

In [19]:
gangwon_spring_wt=gangwon2.query('일시.str.contains("03|04|05")', engine='python')
gangwon_spring_wt

              월합강수량(00~24h만)(mm)  최고기온(°C)  최저기온(°C)  평균기온(°C)  합계 일사량(MJ/m2)
일시      행정구역
2000-03 강원도                14.10     19.30     -8.60      4.40        448.650
2000-04 강원도                37.10     23.70     -3.10     10.40        486.355
2000-05 강원도                75.20     31.60      3.90     15.90        520.280
2001-03 강원도                20.60     21.60     -8.50      3.30        445.030
2001-04 강원도                16.50     27.30     -4.10     12.00        539.605
...                          ...       ...       ...       ...            ...
2020-04 강원도                34.20     24.50     -2.90     10.20        600.330
2020-05 강원도               106.25     29.80      6.15     17.05        585.480
2021-03 강원도               101.90     22.20     -4.60      7.60        462.900
2021-04 강원도               100.85     28.30     -0.10     12.35        567.050
2021-05 강원도               157.55     29.85      3.45     15.60        580.520

[93 rows x 5 columns]

In [20]:
gangwon_spring_wt_2000=gangwon_spring_wt.query('일시.str.contains("2000")', engine='python')
gangwon_spring_wt_2000

              월합강수량(00~24h만)(mm)  최고기온(°C)  최저기온(°C)  평균기온(°C)  합계 일사량(MJ/m2)
일시      행정구역
2000-03 강원도                 14.1      19.3      -8.6       4.4        448.650
2000-04 강원도                 37.1      23.7      -3.1      10.4        486.355
2000-05 강원도                 75.2      31.6       3.9      15.9        520.280

In [28]:
gangwon_spring_wt_2000_total = pd.pivot_table(gangwon_spring_wt_2000, index=[ '행정구역'],aggfunc="median")
gangwon_spring_wt_2000_total.reset_index(inplace=True)#데이터 프레임 전환
gangwon_spring_wt_2000_total.insert(0,'연도','2020')
gangwon_spring_wt_2000_total.insert(1,'계절','봄')

In [29]:
gangwon_spring_wt_2000_total

,연도,계절,행정구역,월합강수량(00~24h만)(mm),최고기온(°C),최저기온(°C),평균기온(°C),합계 일사량(MJ/m2)
0,2020,봄,강원도,37.1,23.7,-3.1,10.4,486.355