In [8]:
import pandas as pd
import numpy as np
from datetime import datetime
from copy import deepcopy

In [9]:
# 경유 가격 불러오기
df_oil = pd.read_csv("./data/oil_price/주유소_평균_판매가격_20221220131442.csv", encoding="cp949")
# df_oil.info()
# df_oil.head()

In [10]:
# 소비자 물가 불러오기
df_cpi = pd.read_csv("./data/cpi/월별_소비자물가_등락률_20221220113618.csv", encoding="cp949")
# df_cpi.info()
# df_cpi.head()

In [11]:
df_cpi = df_cpi.T  # 전치
# df_cpi.head()

In [12]:
df_cpi.drop(index="지수종류(1)", inplace=True)   # 인덱스 삭제
# df_cpi

In [13]:
df_cpi.drop(columns=0, inplace=True)    # 컬럼 삭제
df_cpi.rename(columns={1:"전월비(%)"}, inplace=True)   # 컬럼명 다시 설정
# df_cpi

In [14]:
df_oil = df_oil.T  # 전치
# df_oil.head()

In [15]:
df_oil.drop(index="제품별", inplace=True)
df_oil.rename(columns={0:"자동차용 경유 가격 (원)"},inplace=True)
# df_oil

In [16]:
df_oil_cpi = pd.concat([df_oil, df_cpi],axis=1)   # 경유 가격과 소비자 물가를 하나로 합치기
# df_oil_cpi

In [17]:
df_oil_cpi.to_csv("./data/merge_oil_cpi/merge_oil_cpi.csv",index=True)   # 저장

In [18]:
df_todate = deepcopy(df_oil_cpi)   # 깊은 복사
df_todate.head()

        자동차용 경유 가격 (원) 전월비(%)
2000.01         583.35    4.0
2000.02         578.77    2.0
2000.03         578.12   -0.8
2000.04         566.99   -4.1
2000.05         548.97   -6.8

In [19]:
dt_list = df_todate.index.to_list()   # 인덱스를 리스트로
# print(dt_list, type(dt_list))

In [20]:
dt_list2 = []

# str 형태를 datetime으로 변환
for i in dt_list :
    dt = datetime.strptime(i, "%Y.%m")
    dt = datetime.strftime(dt, "%Y.%m.%d")
    dt_list2.append(dt)

In [21]:
dt_list2 = pd.to_datetime(dt_list2)

In [22]:
dt_list3 = pd.date_range(dt_list2[0], pd.to_datetime("2022-11-30"), freq="D")   # 두 날짜 사이의 값을 일 간격으로 저장

In [23]:
dt_list3 = pd.to_datetime(dt_list3)

In [24]:
# start_date = pd.to_datetime('2019-01-01') ## 시작 날짜
# end_date = pd.to_datetime('2020-12-31') ## 마지막 날짜
 
# dates = pd.date_range(start_date,end_date,freq='D') ## 일단위로 생성

In [25]:
df_todate.index = dt_list2

In [26]:
df_todate.index

DatetimeIndex(['2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01',
               '2000-05-01', '2000-06-01', '2000-07-01', '2000-08-01',
               '2000-09-01', '2000-10-01',
               ...
               '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01',
               '2022-06-01', '2022-07-01', '2022-08-01', '2022-09-01',
               '2022-10-01', '2022-11-01'],
              dtype='datetime64[ns]', length=275, freq=None)

In [27]:
# 0으로만 이뤄진 array 생성
tst = np.zeros((len(dt_list3),2))
# tst

In [28]:
df_test = pd.DataFrame(tst, columns = df_todate.columns)    # 0으로 이뤄진 array를 dataframe으로
df_test.head()

   자동차용 경유 가격 (원)  전월비(%)
0             0.0     0.0
1             0.0     0.0
2             0.0     0.0
3             0.0     0.0
4             0.0     0.0

In [29]:
df_test.index = dt_list3
df_test.head()

            자동차용 경유 가격 (원)  전월비(%)
2000-01-01             0.0     0.0
2000-01-02             0.0     0.0
2000-01-03             0.0     0.0
2000-01-04             0.0     0.0
2000-01-05             0.0     0.0

In [30]:
for i in range(len(df_todate)) : 
    for k in range(len(df_test)) : 
        if (df_test.index[k].year == df_todate.index[i].year) and (df_test.index[k].month == df_todate.index[i].month) : # 연월이 똑같은 데이터를 복사해서 붙여넣기
            df_test.iloc[k] = df_todate.iloc[i]

In [31]:
df_test.to_csv("./data/merge_oil_cpi/merge_oil_cpi_daily.csv",index=True)  # 경유과 물가를 일간으로 저장

In [32]:
# df = pd.read_excel("G:/.shortcut-targets-by-id/1sZS2kL5L66960IYJ4xfNEV9CuKrs_7fE/1조/RAW DATA/가격정보_2000_상품.xlsx")