In [1]:
import pandas as pd
import re
from datetime import datetime

In [2]:
path = "./data/row_price_xlsx/"
# df = pd.read_excel(path+"가격정보_2000_상품.xlsx")
# df.head()

In [3]:
# df = df.drop(columns=df.columns[1])
# df.drop(index=df.index[3:],inplace=True)
# # df

In [4]:
# df =df.T

In [5]:
# df.rename(columns=df.iloc[0],inplace=True)
# df

In [6]:
# df.drop(index=df.index[0],inplace=True)
# df

In [7]:
# df["구분"] = df["구분"].apply(lambda x : re.sub(r"2022", "2000", str(x)))

In [8]:
# df["구분"] = df["구분"].apply(lambda x : datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))
# df

In [9]:
# df.set_index("구분", inplace=True)
# df

In [10]:
for i in range(2000, 2023) : 
    globals()["df_price_"+str(i)] = pd.read_excel(path+"가격정보_"+str(i)+"_상품.xlsx")
    globals()["df_price_"+str(i)].drop(columns=globals()["df_price_"+str(i)].columns[1],inplace=True)
    globals()["df_price_"+str(i)].drop(index=globals()["df_price_"+str(i)].index[3:],inplace=True)
    globals()["df_price_"+str(i)] = globals()["df_price_"+str(i)].T
    globals()["df_price_"+str(i)].rename(columns= globals()["df_price_"+str(i)].iloc[0],inplace=True)
    globals()["df_price_"+str(i)].drop(index=globals()["df_price_"+str(i)].index[0],inplace=True)
    globals()["df_price_"+str(i)]["구분"] = globals()["df_price_"+str(i)]["구분"].apply(lambda x : re.sub(r"2022", str(i), str(x)))
    globals()["df_price_"+str(i)]["구분"] = globals()["df_price_"+str(i)]["구분"].apply(lambda x : datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))
    globals()["df_price_"+str(i)].set_index("구분", inplace=True)

In [11]:
year_list = []
for i in range(2000, 2023) : 
    y = "df_price_" + str(i)
    year_list.append(y)

year_list

['df_price_2000',
 'df_price_2001',
 'df_price_2002',
 'df_price_2003',
 'df_price_2004',
 'df_price_2005',
 'df_price_2006',
 'df_price_2007',
 'df_price_2008',
 'df_price_2009',
 'df_price_2010',
 'df_price_2011',
 'df_price_2012',
 'df_price_2013',
 'df_price_2014',
 'df_price_2015',
 'df_price_2016',
 'df_price_2017',
 'df_price_2018',
 'df_price_2019',
 'df_price_2020',
 'df_price_2021',
 'df_price_2022']

In [12]:
price_baechoo = pd.concat(
    [df_price_2000,
 df_price_2001,
 df_price_2002,
 df_price_2003,
 df_price_2004,
 df_price_2005,
 df_price_2006,
 df_price_2007,
 df_price_2008,
 df_price_2009,
 df_price_2010,
 df_price_2011,
 df_price_2012,
 df_price_2013,
 df_price_2014,
 df_price_2015,
 df_price_2016,
 df_price_2017,
 df_price_2018,
 df_price_2019,
 df_price_2020,
 df_price_2021,
 df_price_2022], 
 axis=0
)

In [13]:
price_baechoo

              평균    평년
구분
2000-01-03  6040  2462
2000-01-04  6040  2489
2000-01-05  6060  2903
2000-01-06  6140  2923
2000-01-07  6100  2946
...          ...   ...
2022-12-14  6118  7237
2022-12-15  6118  7223
2022-12-16  5991  6983
2022-12-19  6147  7023
2022-12-20  6479  6972

[5895 rows x 2 columns]