In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
from copy import deepcopy

In [12]:
# 경유 가격 불러오기
df_oil = pd.read_csv("./data/oil_price/주유소_평균_판매가격_20221220131442.csv", encoding="cp949")
# df_oil.info()
# df_oil.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Columns: 276 entries, 제품별 to 2022.11
dtypes: float64(275), object(1)
memory usage: 2.3+ KB

,제품별,2000.01,2000.02,2000.03,2000.04,2000.05,2000.06,2000.07,2000.08,2000.09,...,2022.02,2022.03,2022.04,2022.05,2022.06,2022.07,2022.08,2022.09,2022.10,2022.11
0,자동차용 경유,583.35,578.77,578.12,566.99,548.97,584.17,581.66,618.68,648.06,...,1536.64,1826.93,1906.42,1964.28,2089.03,2084.91,1889.31,1850.2,1838.34,1879.15

In [13]:
# 소비자 물가 불러오기
df_cpi = pd.read_csv("./data/cpi/월별_소비자물가_등락률_20221220113618.csv", encoding="cp949")
# df_cpi.info()
# df_cpi.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Columns: 276 entries, 지수종류(1) to 2022.11
dtypes: object(276)
memory usage: 4.4+ KB

,지수종류(1),2000.01,2000.02,2000.03,2000.04,2000.05,2000.06,2000.07,2000.08,2000.09,...,2022.02,2022.03,2022.04,2022.05,2022.06,2022.07,2022.08,2022.09,2022.10,2022.11
0,지수종류(1),전월비 (%),전월비 (%),전월비 (%),전월비 (%),전월비 (%),전월비 (%),전월비 (%),전월비 (%),전월비 (%),...,전월비 (%),전월비 (%),전월비 (%),전월비 (%),전월비 (%),전월비 (%),전월비 (%),전월비 (%),전월비 (%),전월비 (%)
1,신선식품지수,4.0,2.0,-0.8,-4.1,-6.8,-0.8,2.5,1.5,14.8,...,-0.1,-2.0,0.2,-2.0,-1.0,6.9,5.4,2.8,-6.1,-8.0

In [16]:
df_cpi = df_cpi.T  # 전치
# df_cpi.head()

               0       1
지수종류(1)  지수종류(1)  신선식품지수
2000.01  전월비 (%)     4.0
2000.02  전월비 (%)     2.0
2000.03  전월비 (%)    -0.8
2000.04  전월비 (%)    -4.1

In [17]:
df_cpi.drop(index="지수종류(1)", inplace=True)   # 인덱스 삭제
# df_cpi

               0     1
2000.01  전월비 (%)   4.0
2000.02  전월비 (%)   2.0
2000.03  전월비 (%)  -0.8
2000.04  전월비 (%)  -4.1
2000.05  전월비 (%)  -6.8
...          ...   ...
2022.07  전월비 (%)   6.9
2022.08  전월비 (%)   5.4
2022.09  전월비 (%)   2.8
2022.10  전월비 (%)  -6.1
2022.11  전월비 (%)  -8.0

[275 rows x 2 columns]

In [19]:
df_cpi.drop(columns=0, inplace=True)    # 컬럼 삭제
df_cpi.rename(columns={1:"전월비(%)"}, inplace=True)   # 컬럼명 다시 설정
# df_cpi

        전월비(%)
2000.01    4.0
2000.02    2.0
2000.03   -0.8
2000.04   -4.1
2000.05   -6.8
...        ...
2022.07    6.9
2022.08    5.4
2022.09    2.8
2022.10   -6.1
2022.11   -8.0

[275 rows x 1 columns]

In [20]:
df_oil = df_oil.T  # 전치
# df_oil.head()

               0
제품별      자동차용 경유
2000.01   583.35
2000.02   578.77
2000.03   578.12
2000.04   566.99

In [22]:
df_oil.drop(index="제품별", inplace=True)
df_oil.rename(columns={0:"자동차용 경유 가격 (원)"},inplace=True)
# df_oil

        자동차용 경유 가격 (원)
2000.01         583.35
2000.02         578.77
2000.03         578.12
2000.04         566.99
2000.05         548.97
...                ...
2022.07        2084.91
2022.08        1889.31
2022.09         1850.2
2022.10        1838.34
2022.11        1879.15

[275 rows x 1 columns]

In [23]:
df_oil_cpi = pd.concat([df_oil, df_cpi],axis=1)   # 경유 가격과 소비자 물가를 하나로 합치기
# df_oil_cpi

        자동차용 경유 가격 (원) 전월비(%)
2000.01         583.35    4.0
2000.02         578.77    2.0
2000.03         578.12   -0.8
2000.04         566.99   -4.1
2000.05         548.97   -6.8
...                ...    ...
2022.07        2084.91    6.9
2022.08        1889.31    5.4
2022.09         1850.2    2.8
2022.10        1838.34   -6.1
2022.11        1879.15   -8.0

[275 rows x 2 columns]

In [101]:
df_oil_cpi.to_csv("G:/.shortcut-targets-by-id/1sZS2kL5L66960IYJ4xfNEV9CuKrs_7fE/1조/RAW DATA/merge_oil_cpi_jinhyeok.csv",index=True)   # 저장

In [29]:
df_todate = deepcopy(df_oil_cpi)   # 깊은 복사
df_todate.head()

        자동차용 경유 가격 (원) 전월비(%)
2000.01         583.35    4.0
2000.02         578.77    2.0
2000.03         578.12   -0.8
2000.04         566.99   -4.1
2000.05         548.97   -6.8

In [35]:
dt_list = df_todate.index.to_list()   # 인덱스를 리스트로
# print(dt_list, type(dt_list))

['2000.01', '2000.02', '2000.03', '2000.04', '2000.05', '2000.06', '2000.07', '2000.08', '2000.09', '2000.10', '2000.11', '2000.12', '2001.01', '2001.02', '2001.03', '2001.04', '2001.05', '2001.06', '2001.07', '2001.08', '2001.09', '2001.10', '2001.11', '2001.12', '2002.01', '2002.02', '2002.03', '2002.04', '2002.05', '2002.06', '2002.07', '2002.08', '2002.09', '2002.10', '2002.11', '2002.12', '2003.01', '2003.02', '2003.03', '2003.04', '2003.05', '2003.06', '2003.07', '2003.08', '2003.09', '2003.10', '2003.11', '2003.12', '2004.01', '2004.02', '2004.03', '2004.04', '2004.05', '2004.06', '2004.07', '2004.08', '2004.09', '2004.10', '2004.11', '2004.12', '2005.01', '2005.02', '2005.03', '2005.04', '2005.05', '2005.06', '2005.07', '2005.08', '2005.09', '2005.10', '2005.11', '2005.12', '2006.01', '2006.02', '2006.03', '2006.04', '2006.05', '2006.06', '2006.07', '2006.08', '2006.09', '2006.10', '2006.11', '2006.12', '2007.01', '2007.02', '2007.03', '2007.04', '2007.05', '2007.06', '2007.07', '2007.08', '2007.09', '2007.10', '2007.11', '2007.12', '2008.01', '2008.02', '2008.03', '2008.04', '2008.05', '2008.06', '2008.07', '2008.08', '2008.09', '2008.10', '2008.11', '2008.12', '2009.01', '2009.02', '2009.03', '2009.04', '2009.05', '2009.06', '2009.07', '2009.08', '2009.09', '2009.10', '2009.11', '2009.12', '2010.01', '2010.02', '2010.03', '2010.04', '2010.05', '2010.06', '2010.07', '2010.08', '2010.09', '2010.10', '2010.11', '2010.12', '2011.01', '2011.02', '2011.03', '2011.04', '2011.05', '2011.06', '2011.07', '2011.08', '2011.09', '2011.10', '2011.11', '2011.12', '2012.01', '2012.02', '2012.03', '2012.04', '2012.05', '2012.06', '2012.07', '2012.08', '2012.09', '2012.10', '2012.11', '2012.12', '2013.01', '2013.02', '2013.03', '2013.04', '2013.05', '2013.06', '2013.07', '2013.08', '2013.09', '2013.10', '2013.11', '2013.12', '2014.01', '2014.02', '2014.03', '2014.04', '2014.05', '2014.06', '2014.07', '2014.08', '2014.09', '2014.10', '2014.11', '2014.12', '2015.01', '2015.02', '2015.03', '2015.04', '2015.05', '2015.06', '2015.07', '2015.08', '2015.09', '2015.10', '2015.11', '2015.12', '2016.01', '2016.02', '2016.03', '2016.04', '2016.05', '2016.06', '2016.07', '2016.08', '2016.09', '2016.10', '2016.11', '2016.12', '2017.01', '2017.02', '2017.03', '2017.04', '2017.05', '2017.06', '2017.07', '2017.08', '2017.09', '2017.10', '2017.11', '2017.12', '2018.01', '2018.02', '2018.03', '2018.04', '2018.05', '2018.06', '2018.07', '2018.08', '2018.09', '2018.10', '2018.11', '2018.12', '2019.01', '2019.02', '2019.03', '2019.04', '2019.05', '2019.06', '2019.07', '2019.08', '2019.09', '2019.10', '2019.11', '2019.12', '2020.01', '2020.02', '2020.03', '2020.04', '2020.05', '2020.06', '2020.07', '2020.08', '2020.09', '2020.10', '2020.11', '2020.12', '2021.01', '2021.02', '2021.03', '2021.04', '2021.05', '2021.06', '2021.07', '2021.08', '2021.09', '2021.10', '2021.11', '2021.12', '2022.01', '2022.02', '2022.03', '2022.04', '2022.05', '2022.06', '2022.07', '2022.08', '2022.09', '2022.10', '2022.11'] <class 'list'>

In [68]:
dt_list2 = []

# str 형태를 datetime으로 변환
for i in dt_list :
    dt = datetime.strptime(i, "%Y.%m")
    dt = datetime.strftime(dt, "%Y.%m.%d")
    dt_list2.append(dt)

In [81]:
dt_list2 = pd.to_datetime(dt_list2)

In [69]:
dt_list3 = pd.date_range(dt_list2[0], pd.to_datetime("2022-11-30"), freq="D")   # 두 날짜 사이의 값을 일 간격으로 저장

In [86]:
dt_list3 = pd.to_datetime(dt_list3)

In [57]:
# start_date = pd.to_datetime('2019-01-01') ## 시작 날짜
# end_date = pd.to_datetime('2020-12-31') ## 마지막 날짜
 
# dates = pd.date_range(start_date,end_date,freq='D') ## 일단위로 생성

In [82]:
df_todate.index = dt_list2

In [83]:
df_todate.index

DatetimeIndex(['2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01',
               '2000-05-01', '2000-06-01', '2000-07-01', '2000-08-01',
               '2000-09-01', '2000-10-01',
               ...
               '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01',
               '2022-06-01', '2022-07-01', '2022-08-01', '2022-09-01',
               '2022-10-01', '2022-11-01'],
              dtype='datetime64[ns]', length=275, freq=None)

In [75]:
# 0으로만 이뤄진 array 생성
tst = np.zeros((len(dt_list3),2))
# tst

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       ...,
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [89]:
df_test = pd.DataFrame(tst, columns = df_todate.columns)    # 0으로 이뤄진 array를 dataframe으로
df_test.head()

   자동차용 경유 가격 (원)  전월비(%)
0             0.0     0.0
1             0.0     0.0
2             0.0     0.0
3             0.0     0.0
4             0.0     0.0

In [90]:
df_test.index = dt_list3
df_test.head()

            자동차용 경유 가격 (원)  전월비(%)
2000-01-01             0.0     0.0
2000-01-02             0.0     0.0
2000-01-03             0.0     0.0
2000-01-04             0.0     0.0
2000-01-05             0.0     0.0

In [96]:
for i in range(len(df_todate)) : 
    for k in range(len(df_test)) : 
        if (df_test.index[k].year == df_todate.index[i].year) and (df_test.index[k].month == df_todate.index[i].month) : # 연월이 똑같은 데이터를 복사해서 붙여넣기
            df_test.iloc[k] = df_todate.iloc[i]

In [102]:
df_test.to_csv("G:/.shortcut-targets-by-id/1sZS2kL5L66960IYJ4xfNEV9CuKrs_7fE/1조/RAW DATA/merge_oil_cpi_daily_jinhyeok.csv",index=True)  # 경유과 물가를 일간으로 저장

In [7]:
df = pd.read_excel("G:/.shortcut-targets-by-id/1sZS2kL5L66960IYJ4xfNEV9CuKrs_7fE/1조/RAW DATA/가격정보_2000_상품.xlsx")

ValueError: Excel file format cannot be determined, you must specify an engine manually.