In [52]:
import pandas as pd
import re
from datetime import datetime

In [53]:
path = "./data/row_price_xlsx/"
# df.head()

In [54]:
for i in range(2000, 2023) : 
    globals()["df_price_"+str(i)] = pd.read_excel(path+"가격정보_"+str(i)+"_상품.xlsx")
    globals()["df_price_"+str(i)].drop(columns=globals()["df_price_"+str(i)].columns[1],inplace=True)
    globals()["df_price_"+str(i)].drop(index=globals()["df_price_"+str(i)].index[3:],inplace=True)
    globals()["df_price_"+str(i)] = globals()["df_price_"+str(i)].T
    globals()["df_price_"+str(i)].rename(columns= globals()["df_price_"+str(i)].iloc[0],inplace=True)
    globals()["df_price_"+str(i)].drop(index=globals()["df_price_"+str(i)].index[0],inplace=True)
    globals()["df_price_"+str(i)]["구분"] = globals()["df_price_"+str(i)]["구분"].apply(lambda x : re.sub(r"2022", str(i), str(x)))
    globals()["df_price_"+str(i)]["구분"] = globals()["df_price_"+str(i)]["구분"].apply(lambda x : datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))
    globals()["df_price_"+str(i)].set_index("구분", inplace=True)

In [55]:
year_list = []
for i in range(2000, 2023) : 
    y = "df_price_" + str(i)
    year_list.append(y)

year_list

['df_price_2000',
 'df_price_2001',
 'df_price_2002',
 'df_price_2003',
 'df_price_2004',
 'df_price_2005',
 'df_price_2006',
 'df_price_2007',
 'df_price_2008',
 'df_price_2009',
 'df_price_2010',
 'df_price_2011',
 'df_price_2012',
 'df_price_2013',
 'df_price_2014',
 'df_price_2015',
 'df_price_2016',
 'df_price_2017',
 'df_price_2018',
 'df_price_2019',
 'df_price_2020',
 'df_price_2021',
 'df_price_2022']

In [56]:
price_baechoo = pd.concat(
    [globals()[i] for i in year_list],
    axis=0
)

In [57]:
price_baechoo_high = price_baechoo.drop(columns="평년")

In [58]:
price_baechoo_high.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5895 entries, 2000-01-03 to 2022-12-20
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   평균      5895 non-null   object
dtypes: object(1)
memory usage: 92.1+ KB

In [59]:
for i in range(2000, 2023) : 
    globals()["df_price_"+str(i)] = pd.read_excel(path+"가격정보_"+str(i)+"_중품.xlsx")
    globals()["df_price_"+str(i)].drop(columns=globals()["df_price_"+str(i)].columns[1],inplace=True)
    globals()["df_price_"+str(i)].drop(index=globals()["df_price_"+str(i)].index[3:],inplace=True)
    globals()["df_price_"+str(i)] = globals()["df_price_"+str(i)].T
    globals()["df_price_"+str(i)].rename(columns= globals()["df_price_"+str(i)].iloc[0],inplace=True)
    globals()["df_price_"+str(i)].drop(index=globals()["df_price_"+str(i)].index[0],inplace=True)
    globals()["df_price_"+str(i)]["구분"] = globals()["df_price_"+str(i)]["구분"].apply(lambda x : re.sub(r"2022", str(i), str(x)))
    globals()["df_price_"+str(i)]["구분"] = globals()["df_price_"+str(i)]["구분"].apply(lambda x : datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))
    globals()["df_price_"+str(i)].set_index("구분", inplace=True)

In [60]:
price_baechoo = pd.concat(
    [globals()[i] for i in year_list],
    axis=0
)

In [61]:
price_baechoo_mid = price_baechoo.drop(columns="평년")
price_baechoo_mid.head()

              평균
구분
2000-01-03  5160
2000-01-04  5160
2000-01-05  5180
2000-01-06  5260
2000-01-07  5240

In [62]:
# price_baehoo_mid 와 price_baechoo_high 를 합치기
price_baechoo = pd.concat([price_baechoo_mid, price_baechoo_high], axis=1)
price_baechoo.head()

              평균    평균
구분
2000-01-03  5160  6040
2000-01-04  5160  6040
2000-01-05  5180  6060
2000-01-06  5260  6140
2000-01-07  5240  6100

In [ ]:

# price_baechoo 의 컬럼명 변경
price_baechoo.columns = ["중품 평균", "상품 평균"]

# "중품 평균"과 "상품 평균"의 평균을 구해서 "평균" 컬럼에 저장
price_baechoo["평균"] = (price_baechoo["중품 평균"] + price_baechoo["상품 평균"]) / 2

# "중품 평균"과 "상품 평균" 컬럼 삭제
price_baechoo.drop(columns=["중품 평균", "상품 평균"], inplace=True)

price_baechoo.head()

In [64]:
price_baechoo.to_csv("./data/price/price_baechoo.csv")