In [9]:
import pandas as pd
import numpy as np
import datetime
import math
from copy import deepcopy

Path = "G:/.shortcut-targets-by-id/1sZS2kL5L66960IYJ4xfNEV9CuKrs_7fE/1조/RAW DATA"

In [10]:
new_df = pd.read_csv("./data/최종_최종__월별기상관측.csv", encoding="cp949")
# new_df.info()

In [11]:
new_df.drop("Unnamed: 0", axis=1, inplace=True)  # 0번째 컬럼 drop
# new_df.head(3)

In [12]:
new_df["일시"] = pd.to_datetime(new_df["일시"])  # 일시를 datetime으로 변경
# new_df.head()

In [13]:
new_df["연도"] =  new_df["일시"].dt.year   # 연도만 추출
new_df["월"] =  new_df["일시"].dt.month    # 월만 추출
# new_df.head(10)

In [14]:
# new_df.columns

In [7]:
# 컬럼 순서 변경
new_df = new_df[['행정구역', '지점명', '연도', '월', '평균기온(°C)', '최고기온(°C)', '최저기온(°C)','월합강수량(00~24h만)(mm)', '합계 일사량(MJ/m2)']]
# new_df.head(3)

In [15]:
new_df = new_df[new_df["연도"] == 2021]  # 2021년도 이상인 컬럼만 추출
new_df.tail()

,행정구역,지점명,일시,평균기온(°C),최고기온(°C),최저기온(°C),월합강수량(00~24h만)(mm),합계 일사량(MJ/m2),연도,월
23073,경상남도,남해,2021-08-01,26.1,35.5,20.7,473.2,481.07,2021,8
23074,경상남도,남해,2021-09-01,22.2,30.1,16.3,164.6,366.93,2021,9
23075,경상남도,남해,2021-10-01,17.2,28.9,4.7,43.6,429.24,2021,10
23076,경상남도,남해,2021-11-01,10.7,21.7,1.4,53.5,323.96,2021,11
23077,경상남도,남해,2021-12-01,4.9,14.9,-8.0,2.4,312.84,2021,12

In [21]:
real_test = new_df.groupby(["연도","행정구역","월"]).median() # 연도, 행정구역, 월별로 group화

In [23]:
# real_test.to_csv("data/weather_2021_2022.csv")